<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Типы партнёров</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Типы партнёров</h1>
    
    <p>
        <a href="{{ url_for('add_type') }}">Добавить тип</a> |
        <a href="{{ url_for('index') }}">К списку партнёров</a>
    </p>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Действия</th>
        </tr>
        {% for t in types %}
        <tr>
            <td>{{ t.id }}</td>
            <td>{{ t.name }}</td>
            <td>
                <a href="{{ url_for('edit_type', type_id=t.id) }}">Редактировать</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html> 